.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.nav a {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.profile-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
  .navbar .logo {
    display: none;
  }
  .navbar-mobile {
    background-color: black;
    z-index: 100;
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 20px;
  }
  .navbar-mobile .nav {
    flex-direction: row;
    width: 100%;
    gap: 0;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .navbar-mobile .profile-navigation {
    display: none;
  }
}
