.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.post {
  border: 1px solid rgb(39, 39, 39);
  padding: 20px;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
}
.post .post-user {
  display: flex;
  justify-content: space-between;
}
.post .post-user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-user-profile .user-profile-img {
  /* padding: 10px; */
  border: 1px solid greenyellow;
  background-color: brown;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
}
.post-user .post-user-follow {
  padding: 0 5px !important;
  border: 2px solid lightblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.post-user-follow p,
.icon {
  font-size: 13px;
}
.post .post-desc {
  font-size: 16px;
  color: rgb(194, 192, 192);
}
.post .post-location {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
}
.post-location .location-icon {
  color: red;
}
.post .post-img-box {
  width: 100%;
  background-color: lightgray;
  min-height: 300px;
  max-height: 500px;
}
.post .post-catagories {
  display: flex;
  gap: 10px;
}
.post-catagories span {
  color: lightblueq;
}
.post .post-feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-feedback .feedback-icon {
  cursor: pointer;
}
.feedback-like:hover {
  color: red;
}
.liked {
  color: red;
}
.feedback-save:hover {
  color: aqua;
}
.post-feedback .post-comment-form {
  display: flex;
  align-items: center;
  position: relative;
}
.post-comment-form input {
  padding: 5px;
  background-color: black;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  color: white;
}
.post-comment-form button {
  background-color: black;
  border: none;
  color: lightseagreen;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}
.post .post-feedback-total {
  display: flex;
  justify-content: space-between;
}
.post-feedback-total p {
  cursor: pointer;
  color: rgb(194, 193, 193);
  font-size: 13px;
}
@media only screen and (max-width: 500px) {
  .post {
    padding: 20px 10px;
  }
}
