.app {
  display: flex;
  padding: 0 15%;
}
.navbar,
.outlet,
.feed {
  border: 1px solid rgb(29, 29, 29);
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 40px 20px;
}
.navbar,
.feed {
  flex: 1;
}
.outlet {
  flex: 2.5;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.nav a {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (max-width: 1300px) {
  .app {
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .feed {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    flex: 0.5;
  }
  .outlet {
    flex: 2;
  }

  .nav a span {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
}
