.app {
  display: flex;
  padding: 0 15%;
}
.navbar,
.outlet,
.feed {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}
.navbar,
.feed {
  flex: 1;
}
.outlet {
  flex: 2.5;
}

@media only screen and (max-width: 1300px) {
  .app {
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .feed {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    flex: 0.5;
  }
  .outlet {
    flex: 2;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
}
