a {
  text-decoration: none;
  color: black;
}
.search-input {
  padding: 5px 20px;
  background-color: whitesmoke;
  border: 1px solid lightslategray;
  border-radius: 20px;
  outline: none;
}
.search {
  position: relative;
}
.search .icon-box {
  position: absolute;
  right: 10px;
}
.logo {
  font-size: 30px;
}
.icon-box {
  width: 18px;
  height: 18px;
}
.icon {
  width: 100%;
  cursor: pointer;
}
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}
.search {
  display: flex;
  align-items: center;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-link span {
  font-size: 15px;
}
.sign {
  display: flex;
  gap: 20px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-pic-box {
  padding: 5px;
  border: 1px solid red;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.profile-pic {
  width: 100%;
}
