@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  word-break: break-word;
  overflow-wrap: break-word;
}
body {
  font-family: "Ubuntu Mono", monospace;
  background-color: black;
  color: white;
}
::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:active,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
