.container {
  position: relative;
  width: 100%;
  position: absolute;
  top: 70px;
  min-height: 100vh;
}
.sign-page {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}
.headers {
  max-width: 1000px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.headers h1 {
  font-size: 140px;
}

.sign-form {
  max-width: 700px;
  flex: 1;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-box input {
  padding: 10px 15px;
  outline: none;
  border: 1px solid lightslategray;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 600px;
}
.form .form-btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #279eff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  width: 200px;
}
.form .navigate {
  text-align: center;
}
.form .navigate p {
  margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
  .sign-page {
    justify-content: center;
  }
  .headers {
    display: none;
  }
}
