.following-nav {
  padding: 20px 5px 5px;
  display: flex;
  justify-content: space-around;
  background-color: black;
  border-bottom: 1px solid rgb(53, 52, 52);
  z-index: 80;
}
.following-nav p {
  cursor: pointer;
}
.following-nav .active {
  border-bottom: 2px solid cornflowerblue;
  padding-bottom: 4px;
}
