.signLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1;
  gap: 30px;
  padding: 20px 5px;
}
.signLayout h2 {
  text-align: center;
}
.signLayout .form {
  width: 100%;
  max-width: 400px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid rgb(58, 57, 57);
  padding: 40px 20px;
  border-radius: 10px;
  width: 100%;
}
.sign-form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sign-form input {
  padding: 14px 10px;
  border-radius: 10px;
  border: 1px solid rgb(58, 57, 57);
  background-color: inherit;
  color: white;
  outline: none;
}
.sign-form textarea {
  padding: 14px 10px;
  border-radius: 10px;
  border: 1px solid rgb(58, 57, 57);
  background-color: inherit;
  color: white;
  outline: none;
}
.sign-form .form-catagory {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.form-catagory input {
  max-width: 100%;
}
.sign-form .catagories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.sign-form .catagory-text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sign-form .catagory-icon {
  font-size: 12px;
  cursor: pointer;
  color: red;
}
.sign-form button {
  padding: 11px 10px;
  border-radius: 10px;
  border: 1px solid rgb(58, 57, 57);
  background-color: white;
  color: black;
  cursor: pointer;
}
.sign-or-link {
  text-align: center;
}
